* {
	margin: 0;
	padding: 0;
}

#box {
	width: 320px;
	height: 240px;
	position: relative;
	background-image: url(../img/1.jpg);
	background-size: cover;
	margin: 50px 0px 0px 100px;
}

#inner {
	width: 80px;
	height: 60px;
	position: absolute;
	background-color: rgba(125, 125, 125, .5);
	display: none;
}

#box2 {
	position: absolute;
	width: 400px;
	height: 300px;
	margin: 0px 0px 0px 325px;
	z-index: 1000;
	background-image: url(../img/1.jpg);
	/* background-size: ; */
	display: none;
}

#box:hover #box2 {
	display: block;
}

#box:hover #inner {
	display: block;
}
